# Iterables

In [1]:
l = [1,2,3,4,5]

In [2]:
for i in l:
    print(i)

1
2
3
4
5

In [3]:
k = []
for i in l:
    k.append(i**2)

In [4]:
k

[1, 4, 9, 16, 25]

In [5]:
j = (4,2,5,4,6,7)

In [6]:
for i in j:
    print(i)

4
2
5
4
6
7

In [7]:
d = {2,1,3,5,6,4,3,2,2,1,1,4,3,4,4,5}

In [8]:
d

{1, 2, 3, 4, 5, 6}

In [9]:
for i in d:
    print(i)

1
2
3
4
5
6

# Creating a dictionry

In [10]:
subjects = {"Aarav":"Physics","Batman":"Chemistry","Chetan":"Maths"}

In [12]:
subjects["Chetan"]

'Maths'

# Dictionries are unordered

In [13]:
# dumps every thing(empty the dictionry)
subjects.clear()

In [14]:
subjects

{}

In [15]:
subjects = {"Aarav":"Physics","Batman":"Chemistry","Chetan":"Maths"}

In [16]:
subjects.fromkeys([1,2,3,4,5],"value")

{1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value'}

In [26]:
new = subjects.items()

In [37]:
list(new)[2]

('Chetan', 'Maths')

In [41]:
# Changing the values based on keys
subjects["Aarav"] = "Commerce"

In [42]:
subjects

{'Aarav': 'Commerce', 'Batman': 'Chemistry', 'Chetan': 'Maths'}

In [43]:
subjects["Tom"] = "English"

In [44]:
subjects

{'Aarav': 'Commerce',
 'Batman': 'Chemistry',
 'Chetan': 'Maths',
 'Tom': 'English'}

In [45]:
for i in subjects:
    print(i)

Aarav
Batman
Chetan
Tom

# For loop

In [46]:
l = range(1000)

In [53]:
for i in l:
    if i%10 == 0:
        print(i)

0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990

In [49]:
8/4

2.0

In [50]:
# Quuotient
9/2

4.5

In [51]:
# FlOor division
9//2

4

In [52]:
# % Modulo operator(gives the remainder)
9%2

1

In [54]:
t = "Mars is the fourth planet from the Sun. The surface of Mars is orange-red because it is covered in iron(III) oxide dust, giving it the nickname the Red Planet Mars hosts many enormous extinct volcanos and one of the largest canyons in the Solar System. For comparison"

# Find out largest word in t

In [55]:
words = t.split()

In [56]:
words

['Mars',
 'is',
 'the',
 'fourth',
 'planet',
 'from',
 'the',
 'Sun.',
 'The',
 'surface',
 'of',
 'Mars',
 'is',
 'orange-red',
 'because',
 'it',
 'is',
 'covered',
 'in',
 'iron(III)',
 'oxide',
 'dust,',
 'giving',
 'it',
 'the',
 'nickname',
 'the',
 'Red',
 'Planet',
 'Mars',
 'hosts',
 'many',
 'enormous',
 'extinct',
 'volcanos',
 'and',
 'one',
 'of',
 'the',
 'largest',
 'canyons',
 'in',
 'the',
 'Solar',
 'System.',
 'For',
 'comparison']

In [57]:
length =  []
for i in words:
    length.append(len(i))

In [59]:
length.sort()

In [61]:
length[-1]

10

In [62]:
words

['Mars',
 'is',
 'the',
 'fourth',
 'planet',
 'from',
 'the',
 'Sun.',
 'The',
 'surface',
 'of',
 'Mars',
 'is',
 'orange-red',
 'because',
 'it',
 'is',
 'covered',
 'in',
 'iron(III)',
 'oxide',
 'dust,',
 'giving',
 'it',
 'the',
 'nickname',
 'the',
 'Red',
 'Planet',
 'Mars',
 'hosts',
 'many',
 'enormous',
 'extinct',
 'volcanos',
 'and',
 'one',
 'of',
 'the',
 'largest',
 'canyons',
 'in',
 'the',
 'Solar',
 'System.',
 'For',
 'comparison']

In [74]:
num = range(0,10000,2)