# Python Program for Sum of squares of first n natural numbers

In [1]:
def sum(n):
    s = 0
    for i in range(n+1):
        s = s + i**2
    return s

In [3]:
sum(5)

55

# Python program to check whether the string is Symmetrical or Palindrome

In [5]:
def ispalindrome(string):
    string = string.lower()
    reverse = string[::-1]
    if string == reverse:
        return "The string is palindrome"
    else:
        return "The string is not palindrome"

In [8]:
ispalindrome("amama")

'The string is palindrome'

In [9]:
ispalindrome('malayalam')

'The string is palindrome'

# Python program to sort a list of tuples by second Item

In [15]:
def sort(array):
    return sorted(array,key = lambda x:x[1])

In [16]:
people = [("Alice", 30, 50000), ("Bob", 25, 60000), ("Charlie", 35, 45000), ("David", 28, 55000)]
sort(people)

[('Bob', 25, 60000),
 ('David', 28, 55000),
 ('Alice', 30, 50000),
 ('Charlie', 35, 45000)]

# Convert a list of Tuples into Dictionary

In [17]:
def convert(array):
    ref_dic = {}
    for i in array:
        ref_dic[i[0]] = i[1]
    return ref_dic

In [18]:
list_of_tuples = [("a", 1), ("b", 2), ("c", 3)]

In [19]:
convert(list_of_tuples)

{'a': 1, 'b': 2, 'c': 3}

In [20]:
dict(list_of_tuples)

{'a': 1, 'b': 2, 'c': 3}

In [21]:
set("jhxgqjuxxx")

{'g', 'h', 'j', 'q', 'u', 'x'}

# Program to accept the strings which contains all vowels

In [42]:
def check(string):
    string = string.lower()
    vowels = "aeiou"
    unique = set(string)
    test = set()
    for i in vowels:
        if i in unique:
            test.add(i)
    if len(test) == len(vowels):
        return "Accepted"
    else:
        return "Not Accepted"

In [51]:
test = "ths aeios pythn crs"

In [52]:
check(test)

'Not Accepted'

In [53]:
check("these are vowels aeiou")

'Accepted'

#  Python program to interchange first and last elements in a list

In [54]:
def interchange(array):
    array[0],array[-1] = array[-1],array[0]
    return array

In [56]:
interchange([1,2,3,4,5,6])

[6, 2, 3, 4, 5, 1]